@import "styles/utils";

.header {
  position: relative;
  padding-top: 20px;
  z-index: 1;

  @include media(">tablet") {
    padding-top: 29px;
  }

  @include media(">desktop") {
    padding-top: 39px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @include media(">tablet") {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .socialContainer {
    max-width: 188.99px;
    display: flex;
    align-items: center;
    gap: 25.6px;
    list-style: none;

    @include media(">tablet") {
      max-width: 227.49px;
      gap: 32px;
    }

    svg {
      width: 100%;

      path {
        fill: $black-color;
        transition: fill 0.3s;
      }
    }

    a:hover {
      svg path {
        fill: $primary-color;
      }
    }
  }
}
