@import "styles/utils";

.publicationSection {
  .publicationContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;

    @include media(">tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
