@import "styles/utils";

.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -98.02px;

  @include media(">tablet") {
    margin-top: -61px;
  }

  @include media(">desktop") {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -71px;
    overflow: visible;
  }

  .ringsPattern {
    position: absolute;
    top: 124px;
    left: -342px;
    z-index: 0;

    @include media(">tablet") {
      top: 86px;
      left: -265px;
    }

    @include media(">desktop") {
      top: 133px;
      left: -256px;
    }

    svg {
      width: 530px;
      height: 129px;

      g {
        stroke: #767676;
      }
    }
  }

  .circlePattern {
    position: absolute;
    top: 254px;
    right: -65px;

    @include media(">tablet") {
      top: 471px;
      right: -63.44px;
    }

    @include media(">desktop") {
      top: 521px;
      right: 380px;
    }

    svg {
      width: 129px;
      height: 129px;

      circle {
        stroke: #767676;
      }
    }
  }

  .container {
    @include media(">desktop") {
      position: relative;
      width: 100%;
    }
  }

  .profileWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

    @include media(">tablet") {
      right: -31px;
      justify-content: right;
    }

    @include media(">desktop") {
      right: 0;
      margin-bottom: 4px;
    }

    .profile {
      display: flex;
      width: 174px;

      @include media(">tablet") {
        width: 322px;
        height: 600px;
      }

      @include media(">desktop") {
        width: 445px;
        height: 720px;
      }
    }
  }

  .contentsBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(">tablet") {
      position: absolute;
      top: 151px;
      left: 30px;
      max-width: 505px;
      align-items: flex-start;
      padding: 0;
    }

    @include media(">desktop") {
      top: 198px;
      left: auto;
      max-width: 780px;
    }
  }

  .title {
    min-height: 90px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.14px;
    color: $black-color;
    margin-bottom: 24px;

    @include media(">tablet") {
      min-height: 220px;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -2.05px;
      text-align: left;
      margin-bottom: 60px;
    }

    @include media(">desktop") {
      min-height: 190px;
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -2.5px;
      margin-bottom: 43px;
    }

    .highlight {
      position: relative;
      display: inline-block;

      &::before {
        position: absolute;
        top: calc(100% - 4px);
        left: 0;
        width: 100%;
        height: 4px;
        background: $primary-color;
        content: "";

        @include media(">tablet") {
          top: calc(100% - 8px);
          height: 6px;
        }

        @include media(">desktop") {
          top: calc(100% - 10px);
        }
      }
    }

    br {
      display: none;

      @include media(">tablet") {
        display: block;
      }

      @include media(">desktop") {
        display: none;
      }
    }
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;

    @include media(">tablet") {
      font-size: 18px;
      line-height: 28px;
      text-align: left;
      margin-bottom: 34px;
    }

    @include media(">desktop") {
      max-width: 445px;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 66px;
    }
  }
}
