@import "styles/utils";

.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -98.02px;

  @include media(">tablet") {
    margin-top: -61px;
  }

  &::before {
    position: absolute;
    top: 124px;
    left: -342px;
    width: 530px;
    height: 129px;
    background: url("/img/pattern-rings.svg") no-repeat;
    content: "";

    @include media(">tablet") {
      top: 86px;
      left: -265px;
    }
  }

  &::after {
    position: absolute;
    top: 254px;
    right: -65px;
    width: 129px;
    height: 129px;
    background: url("/img/pattern-circle.svg") no-repeat;
    content: "";

    @include media(">tablet") {
      top: 471px;
      right: -63.44px;
    }
  }

  .profileWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

    @include media(">tablet") {
      justify-content: right;
    }

    .profile {
      display: flex;
      width: 174px;

      @include media(">tablet") {
        width: 322px;
        height: 600px;
      }
    }
  }

  .contentsBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(">tablet") {
      position: absolute;
      top: 151px;
      left: 30px;
      max-width: 445px;
      align-items: flex-start;
      padding: 0;
    }
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.14px;
    color: #FFFFFF;
    margin-bottom: 24px;

    @include media(">tablet") {
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -2.05px;
      text-align: left;
      margin-bottom: 60px;
    }

    .highlight {
      position: relative;

      &::before {
        position: absolute;
        top: calc(100% - 4px);
        left: 0;
        width: 100%;
        height: 4px;
        background: #4EE1A0;
        content: "";

        @include media(">tablet") {
          top: calc(100% - 8px);
          height: 6px;
        }
      }
    }

    br {
      display: none;

      @include media(">tablet") {
        display: block;
      }
    }
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;

    @include media(">tablet") {
      font-size: 18px;
      line-height: 28px;
      text-align: left;
      margin-bottom: 34px;
    }
  }
}
