
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
  color: #FFFFFF;
  background: transparent;
  border: none;
  border-bottom: 2px solid #4EE1A0;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 10px;
}
