@import "styles/utils";

.projectSection {
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    text-transform: uppercase;

    @include media(">tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px 22px;
    }

    @include media(">desktop") {
      gap: 69px 30px;
    }
  }
}
