@import "styles/utils";

.publication {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $black-color;
    margin-bottom: 7px;
  }

  .dateAndPublisher {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  .buttonContainer {
    min-width: 175px;
  }
}
