@import "styles/utils";

.contactSection {
  position: relative;
  padding: 60px 0 0;

  @include media(">desktop") {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 84px;
  }

  &::before {
    position: absolute;
    top: 436px;
    left: -343px;
    width: 530px;
    height: 129px;
    background: url("/img/pattern-rings.svg") no-repeat;
    content: "";

    @include media(">tablet") {
      top: 547px;
      left: -368px;
    }

    @include media(">desktop") {
      top: 327px;
      left: -370px;
    }
  }

  .contentsWrapper {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;

    @include media(">desktop") {
      max-width: initial;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 220px
    }
  }

  .titleBar {
    text-align: center;

    @include media(">desktop") {
      text-align: left;
    }
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
    color: #FFFFFF;
    margin-bottom: 20px;

    @include media(">tablet") {
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -2.05px;
    }

    @include media(">desktop") {
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -2.5px;
      margin-bottom: 36px;
    }
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;

    @include media(">tablet") {
      font-size: 18px;
      line-height: 28px;
    }
  }

  hr {
    height: 1px;
    background: #FFFFFF;
    border: none;
    margin-top: 87px;

    @include media(">tablet") {
      margin-top: 92px;
    }
  }
}
