@import "styles/utils";

.skillSection {
  position: relative;
  height: 100%;
  overflow-x: clip;

  @include media(">desktop") {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: visible;
  }

  &::before {
    position: absolute;
    bottom: -64px;
    right: -344px;
    width: 530px;
    height: 129px;
    background: url("/img/pattern-rings.svg") no-repeat;
    content: "";

    @include media(">tablet") {
      bottom: -25px;
      right: -332px;
    }

    @include media(">desktop") {
      top: 253px;
      bottom: initial;
      right: -404px;
    }
  }

  .skillContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid $black-color;
    border-bottom: 1px solid $black-color;
    list-style: none;

    @include media(">tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 52px 0;
      text-align: left;
      padding-top: 52px;
      border-bottom: none;
    }

    @include media(">desktop") {
      grid-template-columns: repeat(3, 1fr);
      gap: 58px 30px;
      padding-top: 72px;
    }
  }
}
