@import "styles/utils";

.skillSection {
  position: relative;
  height: 100%;
  overflow-x: clip;

  @include media(">desktop") {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: visible;
  }


  .ringsPattern {
    position: absolute;
    bottom: -64px;
    right: -344px;
    width: 530px;
    height: 129px;

    @include media(">tablet") {
      bottom: -25px;
      right: -332px;
    }

    @include media(">desktop") {
      top: 253px;
      bottom: initial;
      right: -404px;
    }

    svg {
      width: 530px;
      height: 129px;

      g {
        stroke: #767676;
      }
    }
  }

  .skillContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid $black-color;
    border-bottom: 1px solid $black-color;
    list-style: none;

    @include media(">tablet") {
      border-bottom: none;
    }

    @include media(">desktop") {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 32px 10px;
      gap: 32px;
    }
  }
}
