@import '~include-media/dist/include-media';

$breakpoints: (mobile: 568px, tablet: 767px, desktop: 992px);

$primary-color: #68DBFF;
$white-color: #F8F8F8;
$black-color: #000000;
$gray-color: #767676;
